footer
    nav.footerNav
        ul.footerNavUl
            .footerNavDiv.facebook
                a(href="#" class="footerNavA")
                    i(class="fab fa-facebook-square")
                    li.footerNavItem Facebook
            div.footerNavDiv.github
                a(href="#" class="footerNavA")
                    i(class="fab fa-github")
                    li.footerNavItem Github
            div.footerNavDiv.instagram
                a(href="#" class="footerNavA")
                    i(class="fab fa-instagram")
                    li.footerNavItem Instagram
            div.footerNavDiv.github
                a(href="#" class="footerNavA")
                    i(class="fab fa-codepen")
                    li.footerNavItem Codepen
            div.footerNavDiv.twitter
                a(href="#" class="footerNavA")
                    i(class="fab fa-twitter")
                    li.footerNavItem Twitter