header(id="header")
    section.logo
        img(src="img/thinking.png", alt="").logoicon#logoicon
        h1.logotext Etalon.no 
    nav.mainNav
        ul.mainNavUl
            a(href="#" class="mainNavA")
                li.mainNavLi Home
            a(href="#" class="mainNavA")
                li.mainNavLi Notes
            a(href="#" class="mainNavA")
                li.mainNavLi Resources