extends layout
block content
  section.container
    section.sectionEven
      h1 Welcome to etalon
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nobis! Culpa deserunt delectus nisi dolorum asperiores, iste corrupti assumenda soluta numquam commodi officiis impedit laudantium quibusdam quaerat repellat tempora consequuntur! 
  figure.quoteFig    
    img(src="/img/skyline.jpg", alt="").quoteImg
    p.quoteQuote Knowledge is an invaluable resource and to be used without care


