/*

palette:

old rose: #A9423C ...
dark slate gray: #222D52 ...
tan: #C8B496 ...
Dim Gray: #75604E ...
Dim gray: #4D4146 ...


*/

/* Normalize */

* {
    box-sizing: border-box;
    width: 100%;
}

body,
header,
main,
footer,
h1,
h2,
h3,
h4,
p,
figure,
div,
section,
article,
ul,
nav,
a,
li,
img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}


/* Base styles */

/* HEADER  */
header{
    display: flex;
    width: 100%;
    height: 40vw;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(117, 96, 78, .5), rgba(117, 96, 78, .8)),
    url("/img/knowledge.jpg");
    background-size: cover;
    background-position: 560%;
    border-bottom: #222D52 5px solid;
}

.mainNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.mainNavUl {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    border-bottom: #222D52 2px solid;

}

.mainNavA {
    padding: 10px;
}

.mainNavLi {
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: white 2px solid;
    margin: 0 5px;
    transition: all .1s ease;
}

.mainNavLi::before {
    content: ">";
}

.mainNavLi:hover {
    letter-spacing: 3px;
    background-color: rgba(255,255,255, .3);
    border-radius: 10px;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 50px 60px;
    border-radius: 50%;
    background-color: #75604E;
    color: white;
    text-shadow: 1.5px 1px #75604E ;
    transition: all .2s ease;
    border: rgba(255, 255, 255, .5) 5px solid;
    border-block-start: #222D52;
    border-block-end: 10px solid rgba(34, 45, 82, .8);

}

.logotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoicon {
    min-width: 40%;
    transition: all .2s ease;
}


.logo:hover .logoicon {
    transform: rotateZ(35deg);
}


.logo:hover {
    background-color: rgba(117, 96, 78, .5);
    border: rgba(34, 45, 82, .2) 5px dashed;

}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(39, 33, 35);
}

.footerNavUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerNavDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 50px;
    color: white;
    font-size: 2rem;
}

.footerNavDiv.facebook {
    background-color: #222D52;
}

.footerNavDiv.github {
    background-color: black;
}

.footerNavDiv.instagram {
    background-color: #c32aa3;
}

.footerNavDiv.twitter {
    background-color: #1da1f2;
}

.footerNavA * {
    text-align: center;
}

.footerNavDiv i,
.footerNavDiv li {
    transition: all .2s ease;
}

.footerNavDiv:hover i,
.footerNavDiv:hover .footerNavItem {
    transform: scale(1.4);
}

.footerNavDiv:hover .footerNavItem {
    text-decoration: underline;
}

.footerNavDiv:hover i{
   transform: rotateZ(360deg);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    background-color: #4D4146;
}

/* containers */
.container {
    width: 80%;
    background-color: rgba(255, 255, 255, .5);
}